body{
    margin: 0;
}

/* THE NAVBAR */

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    margin: 0;
}


.right-links{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    gap: 15px;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.logo{
    display: flex;
    gap: 3rem;
    width: 22rem;
    align-items: center;
}

.logo img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
}

.logo p{
    color: white;
    font-size: 26px;
}

/* THE REMAINING CONTENT OF THE HEADER */

.overview{
    background-color: #1F2937;
    padding: 1rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview img{
    width: 43rem;
    border-radius: 20%;
}

.text{
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.overview h1, p{
    margin: 0;
    color: white;
}

.overview h1{
    font-size: 3rem;
    font-weight: bold;
}

.text p{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.user{
    width: 6rem;
    background-color: rgb(24, 96, 145);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

/* MIDDLE SECTION */

.middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.container{
    width: 10rem;
    height: 10rem;
    border: 2px solid blue;
    border-radius: 10%;
}

.boring-info{
    display: flex;
    gap: 4rem;
}

.boring-info p{
    color: black;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background-color: #c4fff7;
    padding: 10rem;
    width: 99rem;
}

.quote h2{
    margin-left: auto;
}

.modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7rem auto;
    background-color: blueviolet;
    width: 70rem;
    border-radius: 10px;
    padding: 2.5rem;
}

.modal, .left{
    margin-left: 6rem;
}

.modal, .right-links{
    margin-right: 6rem;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.footer h3{
    color: white;
    padding: 1rem;
}