body{
    margin: 0;
}

/* THE NAVBAR */

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    margin: 0;
}


.right-links{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    gap: 4rem;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.logo{
    display: flex;
    gap: 3rem;
    width: 22rem;
    align-items: center;
}

.logo img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
}

.logo p{
    color: #F9FAF8;
    font-size: 24px;
}

/* THE REMAINING CONTENT OF THE HEADER */

.overview{
    background-color: #1F2937;
    padding: 1rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview img{
    width: 43rem;
    border-radius: 20%;
}

.text{
    display: flex;
    flex-direction: column;
    width: 40rem;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.overview h1, p{
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.overview h1{
    font-size: 3rem;
    font-weight: bold;
}

.text p{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.user{
    width: 6rem;
    background-color: #3882F6;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
}

/* MIDDLE SECTION */

.middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.container-cluj{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    border: 4px solid #3882F6;
    border-radius: 15px;
    transition: 0.5s;
    background-image: url(https://images.pexels.com/photos/4623898/pexels-photo-4623898.jpeg?cs=srgb&dl=pexels-mihai-vlasceanu-4623898.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
}

.container-sibiu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    border: 4px solid #3882F6;
    border-radius: 15px;
    transition: 0.5s;
    background-image: url(https://images.unsplash.com/photo-1639488013074-dcd13020150b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
    background-position: center;
    background-size: cover;
}

.container-iasi{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    border: 4px solid #3882F6;
    border-radius: 15px;
    transition: 0.5s;
    background-image: url(https://images.unsplash.com/photo-1566324366980-d2dec557cb6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-position: center;
    background-size: cover;
}

.container-buc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    border: 4px solid #3882F6;
    border-radius: 15px;
    transition: 0.5s;
    background-image: url(https://images.unsplash.com/photo-1583916588652-b9477dcf9751?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    background-position: center;
    background-size: cover;
}

.container-cluj p, .container-sibiu p, .container-iasi p, .container-buc p{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    color: red;

}

.container-cluj:hover, .container-sibiu:hover, .container-iasi:hover, .container-buc:hover{
    box-shadow:0 0 0 10rem rgb(26, 25, 25) inset;
}

.container-cluj:hover p, .container-sibiu:hover p, .container-iasi:hover p, .container-buc:hover p{
    opacity: 1;
    color: red;
    transform: scale(1);
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

.boring-info{
    display: flex;
    gap: 7.5rem;
    margin-top: 2rem;
    background-color: #1F2937;
    padding: 20px;
    border-radius: 30px;
}

.boring-info a{
    color: white;
}

.boring-info a:hover{
    color: #3882F6;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background-color: #E5E7EB;
    padding: 10rem;
    width: 99rem;
}

.quote h1{
    font-family: 'Philosopher', sans-serif;
    font-style: italic;
    font-size: 36px;
}

.quote h2{
    margin-left: auto;
}

.modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7rem auto;
    background-color: #3882F6;
    width: 70rem;
    border-radius: 10px;
    padding: 2.5rem;
}

.modal, .left{
    margin-left: 6rem;
}

.modal p{
    font-size: 1.3rem;
}

.modal, .right-links{
    margin-right: 6rem;
}

/* FOOTER */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.footer h3{
    color: white;
    padding: 1rem;
}